<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="NLog.Targets.Database" />
  </extensions>

  <targets>
    <target xsi:type="Database"
				name="database"
				connectionString="${configsetting:item=ConnectionStrings.DatabaseConnection}"
				dbProvider="Microsoft.Data.SqlClient"
				commandText="Insert into log(id, createdon, level, message, machinename, logger, userId, requestUrl, exceptionCategory, exceptionType, requestMethod, requestBody) values(
					@id, @createdon, @level, @message, @machinename, @logger, @userId, @requestUrl, @exceptionCategory, @exceptionType, @requestMethod, @requestBody)">

      <parameter name="@Id" layout="${guid}" dbType="Guid" />
      <parameter name="@createdon" layout="${longdate}" dbType="DateTime" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@machinename" layout="${machinename}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@userId" layout="${event-properties:item=userId}" dbType="DbType.String" />
      <parameter name="@requestUrl" layout="${event-properties:item=requestUrl}" dbType="DbType.String" />
      <parameter name="@exceptionCategory" layout="${event-properties:item=exceptionCategory}" dbType="DbType.String" />
      <parameter name="@exceptionType" layout="${event-properties:item=exceptionType}" dbType="DbType.String" />
      <parameter name="@requestMethod" layout="${event-properties:item=requestMethod}" dbType="DbType.String" />
      <parameter name="@requestBody" layout="${event-properties:item=requestBody}" dbType="DbType.String" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="database" />
  </rules>
</nlog>
